.contact {
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }

    &__main-div {
        position: absolute;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%); /* Firefox */
        -ms-transform: translate(-50%, -50%);  /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
        -o-transform: translate(-50%, -50%); /* Opera */
        transform: translate(-50%, -50%);
      
        /* optional size in px or %: */
        width: 600px;
        height: 400px;
    }
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }