.course {
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }

    & h1 {
        color: #261e7d;
    }

    & h2 {
        color: #261e7d;
    }

    &__card-radios {
        @media only screen and (max-width: $bp-medium) {
            display: none;
          }
    }
}