.course {
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }

    background: linear-gradient(#8f8e8eed, #ffffff);

    & h1 {
        color: #4337c3;
    }

    & h2 {
        color: #4337c3;
    }

    &__card-radios {
        @media only screen and (max-width: $bp-medium) {
            display: none;
          }
    }
}